@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
  display: flex;
}

#root {
  position: relative;
  flex: 1;
  display: flex;
}